

<h2>connecting Women In Need with resources in Houston</h2>

<div id="indexlinks">
<div>
        <h3> Are you a woman in need of help?</h3>
        <h4>If you are located in the Houston area and need help finding services to help you in your time of need, click here to search for help.</h4>
        <a href="/resources"><span class="purple">Find Help!</span></a>
    </div>
 

    <div>
        <h3> Are you an organization with resources?</h3>
        <h4>If you are located in the Houston area and have resources to offer women in need, we can help you make that connection. Click here to register.</h4>
        <a href="/users/register"> Register</a>
    </div>
</div>
</div>

