<h2>User Login</h2>


<form method="post" action="login" class="create-form">
     <div class="form-group">
        <label>Username</label><br>
        <input type="text" placeholder="username" name="username">
    </div>
     <div class="form-group">
        <label>Password</label><br>
        <input type="password" placeholder="password" name="password">
    </div>
     <div class="form-group">
        <button type="submit" class="btn btn-success">Submit</button>
        </div>
</form>