
<!-- CV:  this page does not need to be a handlebars page ..... convert to html

From members page, provide a button link to jump to this when a new resource is to be added -->

<h3>Add a Resource</h3>

<!-- Add -->
  
<form method="post" action="members">
    <div class="form-group">
        <label>User name </label><br>
        <input type="text" placeholder="item" name="userName">
    </div>
    <div class="form-group">
        <label>Item name </label><br>
        <input type="text" placeholder="item" name="itemName">
    </div>
    <div class="form-group">
        <label>Item description</label><br>
        <input type="text" placeholder="description" name="itemDescript">
    </div>
    <div class="form-group">
        <label>Item Category</label><br>
        <input type="text" placeholder="email" name="itemCategory">
    </div>
    
    <div class="form-group">
        <button type="submit" class="btn btn-success">Submit</button>
    </div>

    