<div id="resourceTable">
    <div id="placement">




    </div>

    <button type="submit" id="reset">START OVER!</button>
</div>


<div id="resourceForm">
    <h2>Service Area (please check what area your in)</h2>
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="checkNW" value="NW" name="NW">
        <label class="custom-control-label" for="checkNW">NorthWest</label>
    </div>
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="checkNE" value="NE" name="NE">
        <label class="custom-control-label" for="checkNE">NorthEast</label>
    </div>
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="checkSW" value="SW" name="SW">
        <label class="custom-control-label" for="checkSW">SouthWest</label>
    </div>
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="checkSE" value="SE" name="SE">
        <label class="custom-control-label" for="checkSE">SouthEast</label>
    </div>
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="checkCN" value="CT" name="CT">
        <label class="custom-control-label" for="checkCN">Central</label>
    </div>
    <br>
    <h2>List of services (Please check what services you need)</h2>
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="housing" value="1">
        <label class="custom-control-label" for="customCheck1">Housing</label>
    </div>
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="clothing" value="1">
        <label class="custom-control-label" for="customCheck1">Clothing</label>
    </div>
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="babysitting" value="1">
        <label class="custom-control-label" for="customCheck1">Babysitting</label>
    </div>
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="infant_items" value="1">
        <label class="custom-control-label" for="customCheck1">Infant Items/food</label>
    </div>
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="daycare" value="1">
        <label class="custom-control-label" for="customCheck1">Daycare</label>
    </div>
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="school_supplies" value="1"
>
        <label class="custom-control-label" for="customCheck1">School suplies/Education assistance</label>
    </div>
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="employment" value="1">
        <label class="custom-control-label" for="customCheck1">Employment</label>
    </div>
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="counseling" value="1">
        <label class="custom-control-label" for="customCheck1">Counselling</label>
    </div>
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="immigration_assist" value="1
">
        <label class="custom-control-label" for="customCheck1">Immigration assistance</label>
    </div>
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="doctor_visit" value ="1
">
        <label class="custom-control-label" for="customCheck1">Doctor's visit</label>
    </div>
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="legal_aide" value="1
">
        <label class="custom-control-label" for="customCheck1">Legal assistance</label>
    </div>
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="customCheck1" value="1">
        <label class="custom-control-label" for="customCheck1">Drug addiction</label>
    </div>
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="furniture" value="1">
        <label class="custom-control-label" for="customCheck1">Furniture</label>
    </div>
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="domestic_violence" value="1">
        <label class="custom-control-label" for="customCheck1">Domestic Violence</label>
    </div>
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="bus_pass" value="1">
        <label class="custom-control-label" for="customCheck1">Bus passes</label>
    </div>
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="internet_phone_tech
" value="1">
        <label class="custom-control-label" for="customCheck1">Internet/phone access</label>
    </div>
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="auto_repair" value="1">
        <label class="custom-control-label" for="customCheck1">Auto repair</label>
    </div>
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="food" value="1">
        <label class="custom-control-label" for="customCheck1">Food/SNAP</label>
    </div>
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="customCheck1" value="medicine">
        <label class="custom-control-label" for="customCheck1">Medicine</label>
    </div>
    <br>

    </form>
    <button type="submit" id="searchAll">SEARCH FOR HELP!</button>
    <br>
    <br>
    <br>
</div>
<br>
<br>


<script src="/js/winList.js" type="text/javascript"></script>