
<h2>Organization Form</h2>
<form class = "create-form">
        <div class="form-group">
          <label for="name">User Name</label>
          <input type="text" class="form-control" id="formGroupInput" placeholder="John Doe">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <br>
        <h2>Service Area</h2>
        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="customCheck1">
            <label class="custom-control-label" for="customCheck1">NorthWest</label>
        </div>
        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="customCheck1">
            <label class="custom-control-label" for="customCheck1">NorthEast</label>
        </div>
        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="customCheck1">
            <label class="custom-control-label" for="customCheck1">SouthWest</label>
        </div>
        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="customCheck1">
            <label class="custom-control-label" for="customCheck1">SouthEast</label>
        </div>
        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="customCheck1">
            <label class="custom-control-label" for="customCheck1">Central</label>
        </div>
        <br>
        <div class="form-group">
            <label for="name">Contact Person</label>
            <input type="text" class="form-control" id="formGroupInput" placeholder="John Doe">
        </div>
        <div class="form-group">
            <label for="phone">Contact number</label>
            <input type="text" class="form-control" id="formGroupInput" placeholder="(000) 123-4567">
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" class="form-control" id="formGroupInput2" placeholder="johndoe@email.com">
          </div>
          <button type="button" class="btn btn-success">Submit</button>
    </form>